.row {
  background-image: url('../../../assets/wallpaper1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 80vh !important;
}

p{
  font-size: 2rem;
}
.number {
  font-size: 2rem;
}

.input{
  color: black !important;
}
