.details{
  background-image: url('../../../assets/wallpaper2.jpeg');
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#dateInput{
  color: black;
}
.calendar{
  background-color: white;
  padding: 0;
  margin: 0;
}
